<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CK3_Reader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CK3_Reader.Properties.Settings>
            <setting name="OpenAIApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ElevenLabsApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PlaybackSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Stability" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SimilarityBoost" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSpeakerBoost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DanielVoiceId" serializeAs="String">
                <value>yhf80q1381zd2JJQ4tM7</value>
            </setting>
            <setting name="CustomVoicesJson" serializeAs="String">
                <value />
            </setting>
        </CK3_Reader.Properties.Settings>
    </userSettings>
</configuration>